.navegador {
    background-color:#c2d004ae;
}

.title {
    margin: 0;
    /* height: 0; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.3rem;
    color: #a7d004;
    text-shadow: 3.5px 2px 2px #478109fe;
    padding-top: 1rem;
}

.img{
    display:flex;
    margin-left: 6rem;
    font-size: 2rem;
}

.nav {
    display: flex;
    align-items: center; 
    justify-content: center
}
.dog{
    margin: -2rem;
}