.contenedor {   
    width: 70rem;  
    height: 25rem;  
    margin: 4rem 7rem 50px;  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b2ed44dc;
    box-shadow: 0 3px 13 px 1px rgb(0 0 0 / 9%);  
    border-radius: 2rem;
}

.image {
    height: 80%;
    width: auto;
    border-radius: 1rem;
}

.subContenedor {
    text-align: center;    
    padding: 40px;
    font-family: Lato, sans-Serif;
    font-weight: 400; 
    line-height: 1.5rem; 
    text-align: justify;
}

.CardName {
    text-align: center;
    line-height: 4rem;
    color: rgb(216, 117, 10);
    font-family: cursive;
    margin-top: -2rem;
}