.contenedor{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: url("./dog2.jpg");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
} 

.formulario {
    width: 45rem;
    height: 25rem;
    display: inline-block;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 248, 245, 0.498);
    padding: 1.8rem;
    margin-top: 3.8rem;
}

.formulario input{
    margin-left: 1.5rem;
}

/*  -----  ERRORES  -----  */
.error, .errorM, .errorName, .errorUrl, .errorTem{
    color: red;
    font-size: 0.75rem;
    font-weight: 500;
}
.errorName, .errorUrl {
    margin-top: -1rem;
    margin-bottom: 0;
}

.error{
    position: absolute; 
    justify-content: center;
    margin-top: -1rem;
    margin-left:14.5rem ;
    margin-bottom: 0;
}

.errorM {
    display:block;
    margin-top: -1rem;
    margin-right:-24.5rem ; 
    align-items:end;
    margin-bottom: 0;
}

.errorTem {
    display: block;
    position: absolute;
    margin-top: 3.2rem;
    margin-left: 10rem;
}

input{
    width: 6rem;
    height: 1.3rem;
    border-radius: 0.3rem;
    border: 2px solid #b6beb9ae;
    margin: 0.9rem 0rem 1rem;
}

.labelMax{
    padding-left: 5rem;
}


.name{
    width: 12rem;
}
.url{
    width: 20rem;
}


.selectTemperament{
    display: flex;
    align-items: center;
    margin-left: 5rem;
}

.descripcionTemp{
    margin: 1.1rem;
    font-weight: 700;
}


.temp {
    width: fit-content; 
    height:fit-content;
    background-color: rgba(255, 134, 5, 0.674);
    border-radius: 10px;
    margin: 0.5rem;
    max-width: 100%; 
    padding: 0.2rem;
}


.btn1 {
    display:inline-block;
    width: 1.5rem;
    height: 1rem;
    border: none;
    background: none;
    color: #0c0c0ce7;
    border-radius: 2px;
    font-size: 0.8rem;
}
.btn1:hover{
    color: white;
}

.element{
    margin: 2%;
    font-size: 0.7rem;
    font-weight: 500;
} 

/*  ---- BOTON CREATE ---- */
.btn2 {
    margin-top: 1rem;
    position: absolute;
}
label{
    font-weight: 700;
    margin: 2rem -0.7rem 4rem;
}
